/* Name: Alyssa Yanez Olson */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--bright-logo-green: #4A5D21;
	--muted-green: #94a196; /* footer green */
	--gray-green: #616161;
	--dark-green: #4A5D21;
	--beige-gray: #766D65;
	--background: #828282;
    --beige-sand: #B7A494;
	--white: #FFFFFF;
	--black: #000000;

}


body {
    font-family: 'Montserrat', sans-serif;
    width: 1280px;
    width: 100%;
}


.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/****************** Header styling ****************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 200px;
    top: 0;
}

/* nav {
 
} */

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav ul a {
    text-decoration: none;
    color: var(--dark-green);
}

#request-submit {
    background-color: transparent;
    /* border: 2px black; */
    color: var(--black);
    padding: 10px 20px;
    width: 50%;
    display: block;
}

.services-portfolio-container {
    display: flex;
    gap: 20px;
    margin: 5px;
}

#accordion {
    width: 50%;
}

#portfolio {
    width: 50%;
}

.carousel-img img {
    width: 400px;
    height: 400px;
}
/************** Site Type Card Styling ***********/
#site-types {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: block;
}

.card-image {
    width: 400px;
    height: 250px;
}

/****************** Form styling ****************/

form {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    /* justify-content: flex-start; */
}

input, label, fieldset {
    display: block;
    padding: 10px;
    color: var(--black);
    width: 80%;
}
 
#submit {
    background-color: var(--dark-green);
    /* border: 2px black; */
    color: var(--white);
    padding: 10px 20px;
    width: 60%;
    display: block; 
    margin: 10px;
}

.required {
    color: red;
}

/****************** Footer styling ****************/
  footer {
    background-color: var(--muted-green);
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }

  .consultation-form {
    width: 50%;
    box-sizing: border-box;
  }

  .footer-links {
    width: 50%;
    box-sizing: border-box;
    display: flex;
  }