/* Name: Alyssa Yanez Olson */

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--bright-logo-green: #4A5D21;
	--muted-green: #435145; /* footer green */
	--gray-green: #616161;
	--dark-green: #4A5D21;
	--beige-gray: #766D65;
	--background: #828282;
    --beige-sand: #B7A494;
	--white: #FFFFFF;
	--black: #000000;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}


.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/****************** Header styling ****************/

.header {
    display: flex;
    /* space between nav, logo and button */
    justify-content: space-between; 
    align-items: center;
    flex-wrap: nowrap;
    width: 1280px;
    position: relative;
}

/* nav styling, nav items positioned to the left */
nav {
    flex: 1;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

nav ul a {
    text-decoration: none;
    color: var(--dark-green);
}

/* logo styling, will be centered at the top */
.logo-container {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
}

.logo {
    width: 200px;
    top: 0;
}

/* request button styling that will be positioned to the right */
.request-btn-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#request-submit {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
    padding: 10px 30px;
    width: 300px;
    font-size: 20px;
    display: block;
}

/************ Main content which is the accordion and carousel *******/
h1, h2 {
    text-align: center;
    color: var(--dark-green);
}
.services-portfolio-container {
    display: flex;
    gap: 2rem;
    margin: 5px;
}

/* accordion styling */
#accordion {
    width: 50%;
}

#services-header, #websites-header, #about-header {
    background-color: var(--beige-sand);
    color: var(--dark-green);
}

#services, #websites, #about {
    color: var(--dark-green);
}

#about {
    text-align: center;
}

/* styles my about img */
#about img.logo {
    border-radius: 50%;    
}

/* portfolio carousel styling */
#portfolio {
    width: 50%;
    margin: 0 auto;
}

.carousel-img img {
    width: 600px;
    height: 600px;
}

/************** Site Type Card Styling ***********/
#site-types {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    display: block;
}

.card-image {
    width: 400px;
    height: 250px;
}

/****************** Footer styling ****************/
/****************** Form styling ****************/

.form-title, footer p, form label, .required {
    color: var(--white);
}
form {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

input, label, fieldset {
    display: block;
    padding: 10px;
    color: var(--dark-green);
    width: 80%;
}

form input {
    border-radius: 5px; 
    border-color: #4A5D21;
}

/* for styling the first/last name rows */
.name-row {
    display: flex;
    width: 100%;
}
 
#submit {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 60%;
    display: block; 
    margin: 10px;
}

footer {
    background-color: var(--muted-green);
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.consultation-form {
    width: 50%;
    box-sizing: border-box;
}

#thank-you-message {
    color: white;
}

.footer-links {
    width: 50%;
    box-sizing: border-box;
    display: flex;
}